<!DOCTYPE html>
<html lang="hu">
  <head>
    <title>Állások</title>
    <!--Metaadatok-->
    <meta property="og:title" content="Jobs - beadando_karriervalto" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <!--Külső stílusok-->
    <link rel="stylesheet" href="/static/jobstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;...&display=swap" />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <!--Belső stílusok-->
    <link rel="stylesheet" href="/static/style.css" />
    <div>
      <link href="/static/jobs.css" rel="stylesheet" />



      <div class="jobs-container">
        <header data-role="Header" class="jobs-header">
          <!--Vissza a kezdőlapra gomb-->
          <a href="/" class="back-to-home-button">Kezdőlap</a>

          </a>
          <!--Bejelentkezés gomb-->
          <div class="jobs-btn-group">
            <a href="/login/" class="jobs-login button">Bejelentkezés</a>
          </div>         
        </header>        
        <!--Fő tartalom állás kártyák-->
        <!-- A állásra jelentkezések listája a felhasználónál -->
        <!-- TODO -->
        <div class="applied-jobs">
          {% for job in applied %}
        <span>{{ job.Pos_Name }}</span>
      {% endfor %}
        </div>
        <div class="jobs-features">
          <h1 class="jobs-text">Állás jelentkezések</h1>

          <div class="jobs-jobsablak">
            {% for item in position_list %}
            <div class="feature-card1-feature-card">
              <h4>{{ item.CompanyName }}</h4>
              <h2 class="feature-card1-text">{{ item.PosName }}</h2>
              <h3>{{ item.City }}</h3>

              {% if user.is_authenticated %}
              <a class="apply-btn" href="/apply/{{item.id}}">Jelentkezek</a>
              {% endif %}

            </div>
            {% endfor %}
          </div>

        </div>
      </div>
  </body>
</html>
