<!DOCTYPE html>
<html lang="hu">
<head>
  <!-- A karakterkódolás beállítása -->
  <meta charset="UTF-8">
  <!-- Az oldal címe a böngésző ablakában -->
  <title>Bejelentkezés</title>
  <!-- Egyéni stíluslap hivatkozása -->
  <link rel="stylesheet" href="/static/stylelogin.css">
  <!-- Gomb stíluslap hivatkozása -->
  <link rel="stylesheet" href="/static/button.css">
</head>
<body>
  <!-- Bejelentkezési űrlap konténer -->
  <div id="login-form-wrap">
    <!-- Bejelentkezési cím -->
    <h2>Bejelentkezés</h2>
    <!-- Bejelentkezési űrlap -->
    <form id="login-form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
 
        <!-- Email cím beviteli mező -->
        <label for="username">Felhasználónév</label>
        {{form.username}}
        <!-- Email cím validációs ikonok -->
        <i class="validation"><span></span><span></span></i>

        <!-- Jelszó beviteli mező -->
        <label for="password">Jelszó</label>

        {{form.password}}
        <!-- Jelszó validációs ikonok -->
        <i class="validation"><span></span><span></span></i>

        <!-- Bejelentkezés gomb -->
        <input type="submit" id="login" value="Bejelentkezés">

    </form>

    <!-- Regisztrációra mutató link -->
    <div id="create-account-wrap">
      <p>Nem tudok bejelentkezni <a href="/registration/">Regisztráció</a></p>
    </div>

    <!-- Visszanavigálás gomb a kezdőlapra -->
    <a href="/" id="back-to-home">Vissza a kezdőlapra</a>
  </div>
</body>
</html>
